<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Park Acerages</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/bar_chart">Bar Chart</a>
        <a href="/map">Map</a>
        <a href="/scatter_plot">Scatter Plot</a>
      </div>
      
    <div id="bubble_plot"></div>
    <script src="../static/js/scatter_plot.js"></script>
</body>
</html>